variable "user_name" {
  default = ""
}
 
variable "password" {
  default = ""
}
 
variable "tenant_name" {
  default = ""
}
 
variable "auth_url" {
  default = ""
}
 
variable "public_key" {
  default = ""
}
 
variable "image_name" {
  default = ""
}
 
variable "flavor_name" {
  default = ""
}

variable "name" {
  default = ""
}
